<div class="container">
  
  <h2>TASK TRACKER</h2>

  <div class="counter-box">
    <span>{{ pendingCount }} Pending</span> 
    <span>{{ doneCount }} Done</span>
  </div>

  <form (ngSubmit)="addTask()" class="form-group">
    <div class="form-group">
      Title *
      <input type="text" [(ngModel)]="newTask.title" name="title" required class="form-control">
    </div>

    <div class="form-group">
      Description
      <textarea [(ngModel)]="newTask.description" name="description" rows="3" class="form-control"></textarea>
    </div>

    <div class="form-group">
      Due Date
      <input type="date" [(ngModel)]="newTask.due_date" name="due_date" class="form-control">
    </div>

    <div class="form-group">
      Priority
      <select [(ngModel)]="newTask.priority" name="priority" class="form-control">
        <option value="Low">Low</option>
        <option value="Medium">Medium</option>
        <option value="High">High</option>
      </select>
    </div>

    <button type="submit" class="btn-submit">Create Task</button>
  </form>

  <div class="filter-header">
    <h3>Tasks</h3>
    
    <div class="filter-controls">
      <div>
        Status:
        <select [(ngModel)]="selectedStatus" (change)="fetchTasks()">
          <option value="">All</option>
          <option value="pending">Pending</option>
          <option value="done">Done</option>
        </select>
      </div>

      <div>
        Priority:
        <select [(ngModel)]="selectedPriority" (change)="fetchTasks()">
          <option value="">All</option>
          <option value="Low">Low</option>
          <option value="Medium">Medium</option>
          <option value="High">High</option>
        </select>
      </div>
    </div>
  </div>

  <div *ngIf="tasks.length === 0" class="no-tasks">
    No tasks found.
  </div>

  <div *ngFor="let task of tasks" class="task-card">
    <div>
      <div>
        <div class="task-title" [class.done-text]="task.is_done">{{ task.title }} 
          <span class="task-priority" [ngClass]="{
            'priority-high': task.priority === 'High',
            'priority-medium': task.priority === 'Medium',
            'priority-low': task.priority === 'Low'
          }">{{ task.priority }}</span>
        </div>

        <div *ngIf="task.description" class="task-desc" [class.done-text]="task.is_done">{{ task.description }}</div>

        <div *ngIf="task.due_date" class="task-date" [class.done-text]="task.is_done">Due: {{ task.due_date }}</div>
      </div>
    </div>

    <div class="action-buttons">
      <button (click)="toggleDone(task)">
        {{ task.is_done ? 'Mark Pending' : 'Mark as Done' }}
      </button>
      <button (click)="deleteTask(task.id)">
        Delete
      </button>
    </div>
  </div>

</div>